{% extends 'base.html.twig' %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <main class="form-signin text-center">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="inputUsername" class="visually-hidden">Username</label>
            <input type="text" value="{{ last_username }}" placeholder="Username"
                   name="username" id="inputUsername" class="form-control" required autofocus>

            <label for="inputPassword" class="visually-hidden">Password</label>
            <input type="password" name="password" placeholder="Password"
                   id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg w-100 btn-outline-light" type="submit">Connexion</button>
        </form>
    </main>
{% endblock %}

