{% extends 'board.html.twig' %}

{% block content %}
    <main class="container">
        <section class="my-3 p-3 bg-white rounded shadow-sm">
            <h5 class="border-bottom pb-2 mb-0">Mediacenter</h5>
            <div class="d-grid gap-2 mt-2">
                <a href="{{ transmission_url }}" target="_blank" class="btn btn-outline-dark btn-lg">
                    <img src="{{ asset('build/transmission.svg') }}" height="20px" width="auto" alt=""/>
                    Transmission
                </a>
                <a href="{{ plex_url }}" target="_blank" class="btn btn-outline-dark btn-lg">
                    <img src="{{ asset('build/plex.svg') }}" height="20px" width="auto" alt=""/>
                    Plex
                </a>
                <a href="{{ sonarr_url }}" target="_blank" class="btn btn-outline-dark btn-lg">
                    <img src="{{ asset('build/sonarr.svg') }}" height="20px" width="auto" alt=""/>
                    Sonarr
                </a>
                <a href="{{ radarr_url }}" target="_blank" class="btn btn-outline-dark btn-lg">
                    <img src="{{ asset('build/radarr.svg') }}" height="20px" width="auto" alt=""/>
                    Radarr
                </a>
            </div>
        </section>
    </main>
{% endblock %}
